extends layout 

block content 
    div(class='columnForm marginTop')
        h1(class='routeHeading') Enter the secret admin password
        if message 
            li(class='error')=message
        form(action='/secret-admin', method='post', class='formContainer')
            label(for='secretPassword', class='inputLabel')
            input(type='text', name='secretPassword')
            button(type='submit', class='submitBtn') Submit 
        
        